{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == "app_chantier_edit" %}
        <h2>Images</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('/uploads/' ~ chantier.mainIllustration) }}" alt="" width="200">
                <a href="{{ path('chantier_delete_image', {id: chantier.id}) }}"
                   data-delete
                   data-token = "{{csrf_token('delete' ~ chantier.id)}}"
                >Supprimer</a>

            </div>
            <div class="col-md-6">
                {% for image in chantier.imageChantiers %}
                        <img src="{{ asset('/uploads/' ~ image.name) }}" alt="{{image.name}}" width="200">
                        <a href="{{ path('chantier_delete_image', {id: image.id}) }}"
                           data-delete
                           data-token = "{{csrf_token('delete' ~ image.id)}}"
                        >Supprimer</a>
                {% endfor %}

            </div>
        </div>
    {% endif %}


    <button class="btn btn-success mt-4">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
