{% extends 'base.html.twig' %}

{% block title %}Edit Chantier{% endblock %}

{% block body %}
    <div class="block-container-lg">

        <h1>Edit Chantier</h1>

        {{ include('chantier/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_chantier_index') }}">back to list</a>

        {{ include('chantier/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/images.js') }}"></script>

{% endblock %}
