{% extends 'base.html.twig' %}

{% block title %}Chantier index{% endblock %}

{% block body %}
    <div class="block-container-lg mt-5">

        <h1>Mes chantiers</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
{#                <th>Description</th>#}
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for chantier in chantiers %}
                <tr>
                    <td>{{ chantier.id }}</td>
                    <td>{{ chantier.name }}</td>
{#                    <td>{{ chantier.description }}</td>#}
                    <td>
                        <a href="{{ path('app_chantier_show', {'id': chantier.id}) }}">Voir</a>
                        <a href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success text-white" href="{{ path('app_chantier_new') }}">Créer un nouveau chantier</a>
    </div>
{% endblock %}
