{% extends 'base.html.twig' %}

{% block title %}New Chantier{% endblock %}

{% block body %}
    <div class="block-container-lg">
        <h1>Créer un nouveau chantier</h1>

        {{ include('chantier/_form.html.twig') }}

        <a class="btn btn-info mt-4 text-white" href="{{ path('app_chantier_index') }}">Retour à la liste des chantier</a>
    </div>
{% endblock %}
