{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1>Chantier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ chantier.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chantier.description|raw }}</td>
            </tr>
            <th>Photos</th>
            {% for image in chantier.imageChantiers %}*
                <tr>
                    <td><img class="d-block" src="{{ asset('/uploads/' ~ image.name) }}" alt="" width="200"><br></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_chantier_index') }}">Revenir à la liste des chantiers</a>

    <a class="btn btn-info"  href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">Modifier</a>

    {{ include('chantier/_delete_form.html.twig') }}
{% endblock %}
