{% extends 'base.html.twig' %}

{% block title %}Artirenov24 | Artisan plâtrier peintre{% endblock %}

{% block body %}

    <header class="d-flex justify-content-between mt-5">
        <div class="block-container-lg d-flex justify-content-between m-auto">
            <div class="align-self-center">
{#                                <img src="{{ asset('/assets/img/vector_logo.png') }}" alt="" width="500">#}
                <p class="hashtag-reno"><strong>#RÉNOVATION</strong></p>
                <h1 class="">Artisan plâtrier peintre</h1>
                <h2 class="text second-title-header mb-5">Travaux de mur, platre, sol</h2>
                <div class="mt-2">
                    <a href="{{ path("contact") }}" class="btn-yellow-plein">Contactez-nous</a>
                    <a href="{{ path("prestations") }}" class="btn-yellow-padding">Prestations</a>
                </div>
            </div>
            <img class="d-block header-four-scare mt-5" src="{{ asset('assets/img/header_four_scare_compress.png') }}" alt="" >
        </div>
    </header>
{#        <header class="d-flex align-items-center"#}
{#                style="background-image: linear-gradient(to left, rgba(82,74,74,0.58), rgb(128,95,48)) , url({{ asset("assets/img/house_red.jpeg") }}); background-position: center">#}
{#            <div class="block-container-lg">#}
{#                <h1 class="my-auto">Ar50san plâtrier peintre</h1>#}
{#                <h2 class="my-auto second-title-header">Travaux de mur, platre, sol</h2>#}
{#            </div>#}
{#        </header>#}

    <main>

        <section class="section-first-presentation mt-10">
            <div class="block-container-lg">
                <h3 class="text-center">Faites confiance au savoir-faire d'un artisan peintre de qualité
                    près de Périgueux</h3>
                <h4 class="text-center mt-5 text-red">Spécialiste de la <strong>rénovation du second œuvre</strong></h4>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="text-first-presentation my-auto">
                            <p class="my-auto">L'<strong>entreprise de peinture Artirenov24</strong> est spécialisée
                                dans les <strong>travaux de rénovation et de décoration</strong>.
                                <br>
                                <br>
                                Installée près de Périgueux, votre <strong>entreprise de rénovation en peinture</strong>
                                est capable d’intervenir sur tous vos chantiers à Périgueux et sa région.
                                <br>
                                <br>
                                <strong>Artisan peintre et décorateur passionné, Artirenov24</strong> est à votre entière
                                disposition pour tous travaux de rénovation complète ou partielle.
                                <br>
                                <br>
                                Sérieux et expérimenté, votre <strong>peintre décorateur à Périgueux et ses
                                    alentours</strong> vous apporte tout son savoir-faire et son expérience et veille à
                                accorder une importance toute particulière à la qualité et la rapidité de son travail.
                                <br>
                                <br>
                                Votre <strong>décorateur</strong> met tout en œuvre pour vous satisfaire au mieux et
                                pour répondre à toutes vos envies et exigences.</p>
                        </div>
                        <div class="mt-5">
                            <a class="btn-contact-us-text-first-presentation btn-yellow-plein" href="{{ path("contact") }}">Contactez-nous</a>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset("assets/img/karim_red_blue.jpg") }}" alt="" class="d-block" width="400">
                    </div>
                </div>
            </div>

            <div class="block-icon-under-presentation d-flex justify-content-around w-75 m-auto mt-5">
                <div>
                    <a href="{{ path('prestations') }}">
                        <img class="icon-presta" src="{{ asset("assets/img/icon-go-to-services.png") }}" alt="" width="200">
                        <p class="text-center">PRESTATIONS</p>
                    </a>
                </div>
                <div>
                    <a href="{{ path('all_chantier') }}">
                        <img class="icon-presta" src="{{ asset("assets/img/icon-go-to-work.png") }}" alt="" width="200">
                        <p class="text-center">GALERIE PHOTOS</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="example-work mt-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="img-exemple-work example1 m-auto"></div>
                </div>
                <div class="col-md-3">
                    <div class="img-exemple-work example2 m-auto"></div>
                </div>
                <div class="col-md-3">
                    <div class="img-exemple-work example3 m-auto"></div>
                </div>
                <div class="col-md-3">
                    <div class="img-exemple-work example4 m-auto"></div>
                </div>
            </div>
        </section>

        <section class="section-assets mt-10">
            <h4 class="text-center">Les atouts d'Artirenov24</h4>
            <div class="d-flex justify-content-center">
                <div class="block-container-lg row">
                    <div class="col-md-3">
                        <img class="m-auto d-block" src="{{ asset("/assets/img/devis.png") }}" alt="" width="80">
                        <p class="text-center">Devis gratuit et rapide</p>
                    </div>
                    <div class="col-md-3">
                        <img class="m-auto d-block" src="{{ asset("/assets/img/accompagnement.png") }}" alt="" width="80">
                        <p class="text-center">Définition de vos besoins</p>
                    </div>
                    <div class="col-md-3">
                        <img class="m-auto d-block" src="{{ asset("/assets/img/deplacement.png") }}" alt="" width="80">
                        <p class="text-center">Déplacement sur Périgueux et ses environs</p>
                    </div>
                    <div class="col-md-3">
                        <img class="m-auto d-block" src="{{ asset("/assets/img/garantie.png") }}" alt="" width="80">
                        <p class="text-center">La garantie d'un chantier propre pendant la réalisation des travaux</p>
                    </div>
{#                    <div class="col-md-2">#}
{#                        <img class="m-auto d-block" src="{{ asset("/assets/img/respect.png") }}" alt="" width="80">#}
{#                        <p class="text-center">Respect des délais</p>#}
{#                    </div>#}
                </div>
            </div>
        </section>

        <section class="section-inter-line p-5">
{#            <img class="d-block m-auto" src="{{ asset('/assets/img/line.png') }}" alt="">#}
            <div class="d-flex justify-content-center">
                {% include "svg/line-up.html.twig" %}
            </div>
            <h3 class="text-center mt-3 mb-3">La qualité c'est notre priorité</h3>
            <div class="d-flex justify-content-center mb-3">
                <a href="" class="btn btn-yellow-plein">Demander un devis</a>
            </div>
            <div class="d-flex justify-content-center">
                {% include "svg/line-down.html.twig" %}
            </div>

            {#            <img class="d-block m-auto" src="{{ asset('/assets/img/linedown.png') }}" alt="">#}
        </section>

        <section class="section-confiance">
            <div class="block-container-lg">
                <h4 class="text-center">Faites confiance au savoir-faire d'un artisan peintre de qualité près de
                    Périgueux</h4>
                <p class="text-center mt-5">Vous avez un <strong>projet de rénovation ou de décoration à
                        Périgueux</strong> ? N’hésitez pas à contacter votre
                    professionnel <strong>Artirenov24</strong>,
                    il vous proposera un devis gratuit rapide et détaillé ainsi que des conseils d’expert sur les
                    solutions les plus adaptées
                    à vos exigences.
                    <br><br>
                    Votre professionnel de la rénovation <strong>près de Périgueux</strong> s’adapte à toutes les
                    demandes des particuliers
                    et des professionnels en
                    matière de <strong>peinture, revêtement des sols, plâtrerie et ravalement de façades</strong>.
                    <br><br>
                    Soucieux de satisfaire vos besoins, votre <strong>peintre rénovateur à Périgueux</strong> vous
                    propose un travail soigné et de qualité avec
                    un suivi de chantier.</p>
            </div>
        </section>

        <section class="section-hours block-container-lg mt-10">
            <div class="block-hours mb-5">
                <div class="d-flex justify-content-center">{% include "svg/clock.html.twig" %}</div>
                <p class="text-center mt-2">Du lundi au vendredi</p>
                <p class="text-center mt-2">8h00 - 19h00</p>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" href="{{ path('contact') }}">CONTACTEZ-NOUS</a>
            </div>
        </section>


        {#        <section class="our-service"> #}
        {#            <div class="row block-container-lg m-auto p-5"> #}
        {#                <div class="col-md-6 d-flex align-items-center justify-content-center"> #}
        {#                    <img src="{{ asset("assets/img/escalier_colimasson.JPEG") }}" alt="" class="d-block" width="400"> #}
        {#                </div> #}
        {#                <div class="col-md-6 my-auto"> #}
        {#                    <div class="mb-5"> #}
        {#                        <p class="title-our-service">Nos <span>Service</span></p> #}
        {#                        <p class="item-our-service item-s-1">- <span>Peinture</span></p> #}
        {#                        <p class="item-our-service item-s-2">- <span>Revêtement de sol</span></p> #}
        {#                        <p class="item-our-service item-s-3">- <span>Platrerie</span></p> #}
        {#                        <p class="item-our-service item-s-4">- <span>Isolation</span></p> #}
        {#                        <p class="item-our-service item-s-5">- <span>Ravalement de façade</span></p> #}
        {#                    </div> #}
        {#                    <a href="" class=" my-auto btn-go-to-device text-white">Demander un devis</a> #}
        {#                </div> #}

        {#            </div> #}
        {#        </section> #}



        {#        <section class="section-man-sit" style=" #}
        {#                background-image: url({{ asset('/assets/img/sceau_pinceau.jpg') }}); #}
        {#                background-size: cover; background-position: center "> #}
        {#            <div class="block-container-lg"> #}
        {#                <div class="row"> #}
        {#                    #}{#                    <div class="col-md-4 d-flex flex-column justify-content-center"> #}
        {#                    #}{#                        <img class="d-block" src="{{ asset('assets/img/go_to_presta.png') }}" alt=""> #}
        {#                    #}{#                        <a href="" class="btn mt-3">Nos prestation</a> #}
        {#                    #}{#                    </div> #}
        {#                    <div class="card-man-sit w-50 m-auto"> #}
        {#                        <h4 class="text-yellow">Une rénovation ?</h4> #}
        {#                        <h4 class="text-yellow">Besoin d'un agrandissement ?</h4> #}
        {#                        <p> #}
        {#                            Contactez votre expert en rénovation et redonnez une nouvelle jeunesse à votre #}
        {#                            intérieur. #}
        {#                        </p> #}
        {#                        <div class="d-flex mt-5"> #}
        {#                            <a href="" class=" my-auto btn-go-to-device text-white">Contactez nous</a> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                </div> #}
        {#            </div> #}
        {#        </section> #}


        {#        <section class="section-perfection-see d-flex mt-5"> #}
        {#            <div class="perfection-see-img"> #}
        {#                <img src="{{ asset('/assets/img/maison_exterieur.JPEG') }}" class="" alt=""> #}
        {#            </div> #}
        {#            <div class="perfection-see-side-texte d-flex flex-column justify-content-around align-items-center"> #}
        {#                <div class="w-75"> #}
        {#                    <h3>Le regarde d'un perfectionniste</h3> #}
        {#                    <p>Artirenov24 est guidée par l'amour #}
        {#                        du travail bien fait. Le sens du détail et #}
        {#                        de l'esthétique la hissée au rang des #}
        {#                        professionnels les plus respectés. </p> #}
        {#                </div> #}
        {#                <div class="w-75"> #}
        {#                    <h3>Propreté et précision</h3> #}
        {#                    <p>Résultat impeccable, finitions soignées, #}
        {#                        chantier entièrement nettoyé… Il met un point #}
        {#                        d'honneur à vous apporter entière satisfaction. </p> #}
        {#                </div> #}
        {#            </div> #}
        {#        </section> #}

        {#        <section class="section-material d-flex flex-column justify-content-around p-5"> #}
        {#            <div> #}
        {#                <h3>Peintures, placo, et équipements à la pointe</h3> #}
        {#                <p>Ponceuses, rouleaux, pinceaux… Nous utilisons du #}
        {#                    matériel professionnel de qualité pour un résultat #}
        {#                    esthétique et durable.</p> #}
        {#            </div> #}
        {#            <div> #}
        {#                <h3>Des marques réputées</h3> #}
        {#                <p>Sikkens, Zolpan, Seigneurie… #}
        {#                    Sur vos murs : les meilleures marques de peinture, #}
        {#                    issues des fournisseurs les plus renommés pour #}
        {#                    les professionnels.</p> #}
        {#            </div> #}
        {#        </section> #}

        {#        <section class="section-inter-line d-flex flex-column mt-5"> #}
        {#            <img class="d-block m-auto mt-5" src="{{ asset('/assets/img/line.png') }}" alt=""> #}
        {#            <h3 class="text-center mt-5 mb-3">Murs, plafonds, sol : <br> #}
        {#                donnez un nouveau visage à votre lieu de vie</h3> #}
        {#            <a href="" class="btn btn-go-to-device-intermediate mb-5">Demander un devis</a> #}
        {#            <img class="d-block m-auto" src="{{ asset('/assets/img/linedown.png') }}" alt=""> #}
        {#        </section> #}

        {#        <section class="section-step mt-5 bg-y"> #}
        {#            <div class="row block-container-lg m-auto"> #}
        {#                <div class="col-md-6 my-auto"> #}
        {#                    <div class=""> #}
        {#                        <h3>Les étapes de votre chantier</h3> #}
        {#                        <h4 class="mt-4">Avant le chantier</h4> #}
        {#                        <p>Prise de contact par téléphone ou via le formulaire #}
        {#                            État des lieux #}
        {#                            Écoute des besoins et envies du client #}
        {#                            Chiffrage du devis #}
        {#                            Envoi du devis par mail ou courrier</p> #}
        {#                        <h4>Le chantier</h4> #}
        {#                        <p>Protection du logement #}
        {#                            Réalisation des travaux</p> #}
        {#                        <h4>Après le chantier</h4> #}
        {#                        <p>Réception par le client #}
        {#                            SAV si besoin</p> #}
        {#                    </div> #}
        {#                </div> #}
        {#                <div class="col-md-6"> #}
        {#                    <img src="{{ asset("assets/img/escalier_protege.JPEG") }}" alt="" class="w-75 d-block m-auto"> #}
        {#                </div> #}
        {#            </div> #}
        {#        </section> #}

        {#        <section class="peintre-exper p-5"> #}
        {#            <div class="row block-container-lg m-auto"> #}
        {#                <div class="col-md-6"> #}
        {#                    <img src="{{ asset('/assets/img/maison_exterieur.JPEG') }}" class="w-75 m-auto" alt=""> #}
        {#                </div> #}
        {#                <div class="col-md-6 my-auto"> #}
        {#                    <h3>Artisan peintre #}
        {#                        professionnel expérimenté</h3> #}
        {#                    <p>Très jeune, Karim s'est découvert cette passion de la peinture</p> #}
        {#                    <h3>Plus de 15 ans d'expérience</h3> #}
        {#                    <p>Il a ensuite forgé son expérience dans quelques entreprises pour très vite, créer sa propre #}
        {#                        entreprise, Artirenov24</p> #}
        {#                </div> #}
        {#            </div> #}

        {#        </section> #}

        {#        <hr> #}

        {#        <section class="section-our-last-project"> #}
        {#            <div class="row block-container-lg m-auto"> #}
        {#                <h3><span>Nos</span> Chantiers</h3> #}
        {#                {% for chantier in chantiers|slice(0, 4) %} #}
        {#                    <div class="col-md-6"> #}
        {#                        <div class="img-last-chantier mb-4" style="background-image: url('/uploads/{{ chantier.mainIllustration }}')"> #}
        {#                        </div> #}
        {#                        <img class="w-7 d-block mb-2" src="/uploads/{{ chantier.mainIllustration }}" alt="{{ chantier.name }}"> #}
        {#                    </div> #}
        {#                {% endfor %} #}
        {#            </div> #}
        {#        </section> #}

    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $(window).scroll(function (event) {
            let scrollElement = $(".text-first-presentation").offset();
            let scroll = $(document).scrollTop();

            console.log(scrollElement.top);
            console.log(scroll);

            if(scroll >= scrollElement.top) {
                $('.icon-presta').addClass('rotate-animation');
            }
        })
    </script>
{% endblock %}