<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="965.000000pt" height="152.000000pt" viewBox="0 0 965.000000 152.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,152.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path fill="#F5BF47" d="M4505 1105 c-181 -223 -334 -404 -340 -403 -6 2 -176 140 -378 308
-202 168 -373 306 -380 308 -6 1 -364 -286 -794 -638 l-782 -640 -910 0 c-872
0 -942 -2 -917 -27 5 -5 6226 19 8589 34 927 5 1057 8 1057 21 0 13 -101 14
-860 7 -781 -6 -863 -5 -885 9 -14 9 -388 287 -832 618 -445 330 -816 603
-825 606 -11 3 -140 -98 -383 -299 -201 -167 -371 -305 -378 -307 -7 -1 -156
180 -331 403 -176 223 -320 405 -321 405 -1 0 -150 -182 -330 -405z m774 -191
c238 -305 438 -554 442 -554 18 0 6 18 -106 160 -62 79 -112 147 -109 151 11
18 738 614 746 611 7 -2 1590 -1176 1617 -1198 2 -2 2 -6 0 -8 -2 -2 -1192 -9
-2644 -15 -1452 -6 -2799 -12 -2992 -14 -194 -2 -353 -1 -353 3 1 7 1502 1232
1515 1237 12 4 750 -604 750 -617 0 -5 -56 -77 -123 -160 -68 -83 -121 -154
-118 -157 3 -3 11 -1 18 5 7 6 213 258 458 561 245 302 450 550 455 550 6 0
205 -250 444 -555z"/>
<path d="M4774 899 c-49 -14 -124 -70 -157 -116 -35 -49 -63 -151 -43 -159 7
-3 68 -3 137 -2 l124 3 3 143 c3 157 6 151 -64 131z"/>
<path d="M4870 765 l0 -146 133 3 132 3 -3 35 c-7 94 -101 207 -195 235 -28 8
-54 15 -59 15 -4 0 -8 -65 -8 -145z"/>
<path d="M4566 558 c11 -55 40 -113 80 -158 42 -47 122 -90 167 -90 l27 0 0
140 0 140 -140 0 -139 0 5 -32z"/>
<path d="M4870 449 l0 -142 34 6 c110 18 210 122 230 240 l7 37 -136 0 -135 0
0 -141z"/>
</g>
</svg>
