<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="965.000000pt" height="152.000000pt" viewBox="0 0 965.000000 152.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,152.000000) scale(0.100000,-0.100000)" stroke="none">
<path fill="#ffffff" d="M4707 1348 c-311 -379 -432 -526 -471 -572 -22 -27 -46 -56 -52 -65
-14 -19 18 -44 -626 497 l-148 124 -102 -83 c-57 -46 -229 -184 -382 -307
-154 -124 -410 -331 -570 -461 -160 -131 -342 -279 -404 -329 l-114 -92 -919
0 c-810 0 -919 -2 -919 -15 0 -13 543 -15 4826 -15 3856 0 4825 3 4822 13 -4
9 -189 13 -874 15 l-869 3 -345 261 c-684 518 -1298 977 -1312 980 -7 2 -181
-134 -386 -302 -205 -168 -377 -305 -381 -305 -5 0 -148 180 -319 400 -172
220 -316 401 -320 403 -5 1 -66 -66 -135 -150z m259 -30 c565 -731 744 -958
756 -958 6 0 5 8 -4 18 -8 9 -61 77 -118 150 -99 130 -102 135 -84 152 18 16
318 263 603 495 67 55 126 101 130 103 5 2 125 -85 267 -193 143 -107 495
-372 783 -588 288 -215 535 -402 550 -414 l26 -22 -2997 -1 c-1649 0 -2998 3
-2998 8 1 4 141 120 312 257 295 236 918 741 1093 884 125 103 111 96 139 75
39 -30 673 -562 719 -604 6 -6 -136 -192 -231 -302 -8 -10 -10 -18 -4 -18 9 0
297 345 672 805 180 221 252 305 260 305 5 0 62 -69 126 -152z"/>
<path fill="#F5BF47" d="M4774 899 c-91 -26 -183 -125 -202 -216 -6 -26 -10 -49 -9 -50 1 -1
63 -3 137 -5 l135 -3 3 143 c3 157 6 151 -64 131z"/>
<path fill="#F5BF47" d="M4870 765 l0 -146 133 3 132 3 -3 35 c-8 96 -101 207 -195 235 -28 8
-54 15 -59 15 -4 0 -8 -65 -8 -145z"/>
<path fill="#F5BF47" d="M4566 558 c11 -57 44 -122 82 -162 39 -41 122 -86 160 -86 22 0 22 1
22 140 l0 140 -135 0 -134 0 5 -32z"/>
<path fill="#F5BF47" d="M4870 450 c0 -139 0 -140 23 -140 37 0 120 45 159 86 38 40 71 104
83 162 l7 32 -136 0 -136 0 0 -140z"/>
</g>
</svg>
