<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="965.000000pt" height="152.000000pt" viewBox="0 0 965.000000 152.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,152.000000) scale(0.100000,-0.100000)"
 stroke="none">
<path fill="#575757" d="M0 1485 c0 -13 102 -15 866 -15 l867 1 281 -212 c1052 -794 1368
-1029 1382 -1029 9 0 182 136 385 302 203 167 373 303 378 303 5 0 148 -180
320 -400 171 -220 315 -401 319 -403 5 -1 66 66 135 150 311 379 432 526 471
572 22 27 46 56 52 65 14 19 -29 53 626 -497 l148 -124 157 127 c87 71 277
224 423 341 146 117 319 256 385 310 66 54 229 187 363 296 l243 198 920 0
c810 0 919 2 919 15 0 13 -542 15 -4820 15 -4284 0 -4820 -2 -4820 -15z m7758
-24 c-3 -10 -55 -52 -483 -396 -296 -237 -531 -428 -874 -707 -86 -71 -158
-128 -161 -128 -5 0 -351 288 -595 495 -60 51 -121 101 -134 112 l-23 19 112
139 c62 77 120 148 128 157 8 10 10 18 5 18 -10 0 -124 -136 -558 -665 -326
-398 -366 -445 -375 -445 -5 0 -62 69 -126 153 -565 730 -744 957 -756 957 -6
0 -5 -8 4 -17 8 -10 61 -78 118 -151 86 -113 100 -136 89 -147 -27 -27 -724
-597 -735 -601 -6 -3 -119 76 -250 176 -132 99 -482 363 -779 585 -297 223
-553 416 -570 430 l-30 24 2998 0 c1700 1 2997 -3 2995 -8z"/>
<path class="path" fill="#9a0b0b" d="M4675 1196 c-85 -40 -149 -124 -170 -223 l-7 -33 136 0 136 0 0 140
c0 139 0 140 -22 140 -13 0 -45 -11 -73 -24z"/>
<path class="path" fill="#9a0b0b" d="M4810 1080 l0 -140 135 0 135 0 -6 33 c-11 56 -44 121 -82 161 -39
41 -122 86 -159 86 -23 0 -23 -1 -23 -140z"/>
<path class="path" fill="#9a0b0b" d="M4506 902 c-9 -14 14 -96 39 -139 34 -57 100 -111 159 -128 27 -8 53
-15 58 -15 4 0 8 65 8 145 l0 145 -129 0 c-72 0 -132 -4 -135 -8z"/>
<path class="path" fill="#9a0b0b" d="M4807 896 c-4 -10 -7 -76 -7 -148 l0 -130 37 7 c115 21 216 125 237
243 5 31 5 32 -32 32 -20 0 -80 3 -133 6 -85 6 -97 5 -102 -10z"/>
</g>
</svg>
