@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/** GENERAL **/

body {
    color: #575757;
    font-size: 17px;
    font-family: 'Raleway', sans-serif !important;
    background: linear-gradient(#ffffff, #e3d4c3 99%) !important;
}

.block-container-lg {
    width: 70%;
    margin: auto;
}

ul li {
    list-style-type: none;
}

.mt-10 {
    margin-top: 88px
}

p {
    font-size: 14px;
}

a {
    text-decoration: none !important;
    color: #575757 !important;
}

.bg-y {
    background-color: #6c0404;
}

.text-white {
    color: #ffffff;
}

.text-yellow {
    color: #F5BF47;
}

.text-red {
    color: #9a0b0b;
}

.btn-yellow {
    color: #F5BF47 !important;
    border: 2px solid #F5BF47 !important;
}

.btn-yellow-padding {
    color: #F5BF47 !important;
    border: 2px solid #F5BF47 !important;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s;
}

.btn-yellow-padding:hover {
    color: #ffffff !important;
    border: 2px solid #F5BF47 !important;
    transition: 0.5s;
    background-color: #F5BF47 !important;
}

.btn-yellow-plein {
    color: #ffffff !important;
    background-color: #F5BF47 !important;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #F5BF47;
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s;
    box-shadow: 0 0 24px rgb(245 191 71 / 70%);
    margin-right: 10px;
}

.btn-yellow-plein:hover {
    background-color: transparent !important;
    transition: 0.5s;
    border: 2px solid #F5BF47;
    color: #F5BF47 !important;
}


.btn-red {
    color: #9a0b0b !important;
    border: 2px solid #9a0b0b !important;
}

.btn-red-plein {
    color: #ffffff !important;
    background-color: #9a0b0b !important;
    padding: 15px;
    border-radius: 10px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

    /*navbar*/

    .img-logo {
        width: 200px;
    }

    @media (max-width: 992px) {
        .img-logo {
            width: 150px;
        }
    }

    .first-part-navbar {
        padding: 10px 0;
    }

    .btn-go-to-device {
        background-color: #F5BF47;
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
        transition: 0.5s;
    }

    @media (max-width: 992px) {
        .btn-device-mobile {
            display: block !important;
        }

        .btn-device-desktop {
            display: none ;
        }
    }

    @media (min-width: 992px) {
        .btn-device-mobile {
            display: none !important;
        }

        .btn-device-desktop {
            display: block ;
        }
    }

    .btn-go-to-device:hover {
        background-color: #9a0b0b;
        transition: 0.5s;
    }

    .second-part-navbar {
        background-color: #9a0b0b;
    }

    .item-nav {
        font-size: 18px;
        border-bottom: 2px solid transparent;
    }

    .item-nav:hover {
        border-bottom: 2px solid #575757;
    }


    /*submenu*/

    .submenu {
        padding: 5px;
        font-weight: bold;
    }

/**HOME**/

    /*header*/

    header {
        height: 75vh;
        background-size: cover;
        background-position: inherit;
    }

    .hashtag-reno {
        display: inline-block;
        padding: 4px 15px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 4px;
        background-color: #F5BF47;
        color: #ffffff;
    }

    header h1 {
        font-weight: 900;
        font-size: 45px !important;
        animation: backInLeft;
        animation-duration: 1s;
        color: #000000 !important;
    }

    header h2 {
        color: #000000 !important;
        animation: backInRight;
        animation-duration: 1s;
    }

    .second-title-header {
        color: #ffffff;
        font-size: 38px !important;
    }

    .header-four-scare {
        /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);*/
        width: 50%;
    }

    /*section first presentation*/

    .text-first-presentation {
        padding: 15px;
        border-left: 5px solid #F5BF47;
    }

    .section-first-presentation h3 {
        font-weight: 700;
        font-size: 35px;
    }



.section-first-presentation h4 {
        font-size: 35px;
    }

    .section-first-presentation p {
        font-size: 16px;
    }

    .btn-contact-us {
        color: #F5BF47 !important;
        border: 2px solid #F5BF47;
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 26px;
        transition: 0.5s;
        box-shadow: 0 0 24px rgb(55 108 146 / 70%);

    }

    .btn-contact-us:hover {
        color: #ffffff !important;
        background-color: #F5BF47 !important;
        border: 2px solid #F5BF47;
        transition: 0.5s;
    }

    .block-icon-under-presentation img {
        transition: 0.5s;
    }

    .block-icon-under-presentation img:hover {
        transition: 0.5s;
        transform: translateY(-15px);
    }

    /* section expample work */

    .img-exemple-work {
        height: 300px;
        width: 90%;
        filter: grayscale(100%);
        transition: 1s;
    }

    .img-exemple-work:hover {
        filter: grayscale(0%);
        transition: 1s;
    }

    .example1 {
        background-image: url("/assets/img/house_red.jpeg");
        background-size: cover;
    }
    .example2 {
        background-image: url("/assets/img/salon_green.jpg");
        background-size: cover;
    }
    .example3 {
        background-image: url("/assets/img/bibliotheque_bleue.jpg");
        background-size: cover;
    }
    .example4 {
        background-image: url("/assets/img/tapisserie_fleurs.jpg");
        background-size: cover;
    }

    /*section assets*/

    .section-assets {
        background-image: url("/assets/img/wallpaper.jpg");
        background-attachment: fixed;
        padding: 32px;
    }

    .section-assets h4 {
        font-size: 35px;
        color: #9a0b0b;
    }

/*section confiance*/

    .section-confiance {
        background-color: rgba(87, 87, 87, 0.65);
        padding: 32px;
        color: #ffffff !important;
    }

    .section-confiance h4 {
        font-size: 35px;
    }

    /*section hours*/

    .section-hours i {
        text-align: center;
    }

    .block-hours {
        width: 50%;
        margin: auto;
        border: 2px solid #9a0b0b;
        border-radius: 15px;
        padding: 15px;
    }

    .section-hours a {
        background-color: #9a0b0b;
        color: #ffffff !important;
        font-weight: bold;
        font-size: 24px;
        padding: 15px;
    }

/*section our service*/

    .title-our-service {
        font-size: 35px;
    }

    .title-our-service span{
        font-size: 35px;
        font-weight: 900;
    }


    .btn-our-service {
        background-color: #575757;
        color: #ffffff !important;
        margin-top: 15px;
    }

    /*section man sit*/

    .section-man-sit {
        padding: 30px;
    }

    .section-man-sit a {
        background-color: #6e6e6e;
        color: #ffffff !important;
        font-weight: 500 !important;
    }

    .section-man-sit p {
        font-weight: 500;
    }

    .card-man-sit {
        background-color: #ffffff;
        padding: 45px !important;
        border-radius: 5px;
    }

    /*section intermediate*/


    .section-inter-line h3{
        font-size: 40px;
    }

    .btn-go-to-device-intermediate {
        /*width: 20%;*/
        background-color: #F5BF47  !important;
        color: #ffffff !important;
        border: 2px solid #F5BF47;
        font-weight: bold !important;
        /*margin: auto;*/
    }


    .btn-go-to-device-intermediate:hover {
        background-color: transparent !important;
        border: 2px solid #F5BF47;
        color: #F5BF47 !important;
    }


    /*section perfection see*/

    .perfection-see-side-texte {
        background-color: rgba(196, 196, 196, 0.55);
        padding: 30px;
    }

    .section-perfection-see h3 {
        font-size: 40px !important;
        font-weight: bold;
    }

    .perfection-see-side-texte .block-text {
        width: 70%;
    }


    /*section material*/

    .section-material {
        background-image: linear-gradient(to right, rgba(87, 87, 87, 0.78), rgba(87, 87, 87, 0.67)),url("/assets/img/salle_de_bain.JPEG");
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff;
    }


    .section-material div h3 {
        font-size: 40px;
    }

    .section-material div {
        width: 50%;
    }


    /*section step*/

    .section-step {
    }

    .section-step .block-container-lg {
        padding: 30px;
        color: #ffffff;
    }

    /* exemple chantier */

    .img-last-chantier {
        width : 600px;
        height: 400px;
        transition: 0.5s;
        background-size: cover;
    }

    .img-last-chantier:hover {
        background-position: center;
        transition: 0.5s;
    }

/**ALL CHANTIER**/

    /*all*/

    .header-all-chantier {
        height: 50vh;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.89)),url("/assets/img/salon_green.jpg");
        background-position: bottom;
        background-size: cover;
    }

    .header-all-chantier h1 {
        color: #F5BF47;
        font-size: 45px;
    }

    .header-all-chantier h2 {
        color: #ffffff !important;
        font-size: 35px;
    }

    .header-card-chantier {
        height: 500px;
        width: 90%;
        background-size: cover;
    }

    .header-card-chantier p {
        color: #ffffff;
        font-size: 25px;
    }

    .header-card-chantier p span{
        font-size: 15px;
    }


/**CONTACT*/

.header-contact {
    background-image: linear-gradient(to right, rgba(30, 26, 16, 0.82), rgba(24, 22, 17, 0.7)),url("/assets/img/salle_de_bain.JPEG");
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.title-contact {
    font-size: 45px;
    color: #F5BF47;
}

.second-title-contact {
    font-size: 35px;
    color: #ffffff;
}

.block-form-contact {
    /*background-image: linear-gradient(to right, rgba(245, 191, 71, 0.37), rgba(245, 191, 71, 0.42)),url("/assets/img/main-header-color.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-weight: bold;
}

.block-form-contact h2 {
    font-size: 45px;
    font-weight: bold;
}

.block-form-contact-us h2 {
    color: #000000 !important;
    font-weight: bold;
    font-size: 45px;
}

/** PRESTATIONS **/

    /*section presentation*/

    .section-presentation-our-prestation h2{
        font-size: 48px;
    }

    .section-presentation-our-prestation h3{
        font-size: 40px;
    }

    .first-block-wish, .second-block-wish {
        background-color: #9a0b0b;
        color: #ffffff;
        padding: 16px;
    }


    .first-block-wish ul li {
        font-size: 16px;
    }
    .second-block-wish ul li {
        font-size: 16px;
    }


    /* section exemple service */

    .section-exemple-services {
        background-color: #9a0b0b;
        padding: 16px;
        color: #ffffff;
    }

    .header-papier {
        background-image: url("/assets/img/tapisserie_fleurs.jpg");
        background-position: center;
        height: 300px;
        width: 90%;
    }

    .header-sol {
        background-image: url("/assets/img/sol_plastique.JPEG");
        height: 300px;
        width: 90%;
    }

    .header-peinture {
        background-image: url("/assets/img/cuisine.jpg");
        background-position: center;
        height: 300px;
        width: 90%;
    }

    .section-exemple-services h4 {
        font-size: 24px;
    }

    .block-item-service ul li{
        list-style-type: revert;
        margin-left: 40px;
    }

    .btn-contact-prestation {
        background-color: #F5BF47 !important;
        color: #ffffff !important;
        border: 2px solid #ffffff;
        padding: 10px 15px;
        font-size: 26px;
        margin-top: 20px !important;
    }

/*line intermediate*/

.path:hover {
    fill: #F5BF47;
}

/**FOOTER**/

footer {
    background-color: #575757;
    color: #ffffff;
}




/**ANIMATE CLASS**/

.rotate-animation {
    animation: rotateOut;
    animation-duration: 1s;
}