{% extends 'base.html.twig' %}

{% block title %}Création de compte | Artirenov24 - Artisan plâtrier peintre{% endblock %}

{% block body %}

    <div class="block-container-lg">
        {{ form(form) }}
    </div>

{% endblock %}

