{% extends 'base.html.twig' %}

{% block title %}Hello LegalMentionController!{% endblock %}

{% block body %}
<div class="block-container-lg mt-10">
    Mentions Légales <br><br><br>
    1. Informations relatives à l'hébergeur
    IONOS
    <br><br>
    Adresse du siège social : 7 PL DE LA GARE - 57200 - SARREGUEMINES <br>
    2. Informations relatives à l'éditeur <br><br>
    Raison sociale : ARTIRENOV24 <br>
    Enseigne : ARTIRENOV24 <br>
    Adresse : 31 Rue de cugnaux, Bat B appt 46, 31300 TOULOUSE, France <br>
    Téléphone : 0677465472 <br>
    E-mail : contact@artirenov.fr <br>
    Directeur de publication : Karim Bouchlih <br>
    RCS : 792351868 <br>
    Forme juridique : Affaire personnelle artisan <br><br>
    3. Conditions d'utilisation <br><br>
    Le site est accessible par l'url artirenov24.fr. <br>
    Son utilisation est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront être modifiées à tout moment et sans préavis par la société SAMOUILLET ARTHUR PIERRE-ADRIEN.
    L'entreprise SAMOUILLET ARTHUR PIERRE-ADRIEN ne saurait être tenue pour responsable en aucune manière d'une mauvaise utilisation du service.
    <br><br>
    4. Limitation de la responsabilité <br><br>
    Les informations contenues sur ce site sont aussi précises que possible et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une erreur ou ce qui peut être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible.
    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, l'entreprise SAMOUILLET ARTHUR PIERRE-ADRIEN ne saurait être tenue responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. Les photos sont non contractuelles.
    Les liens hypertextes mis en place sur ce site internet en direction d'autres sites internet ne sauraient engager la responsabilité de SAMOUILLET ARTHUR PIERRE-ADRIEN.

    <br><br>

    5. Litiges <br><br>
    Les présentes conditions sont régies par les lois françaises et toute contestation ou litige qui pourrait naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société SAMOUILLET ARTHUR PIERRE-ADRIEN. La langue de référence, pour le règlement de contentieux éventuels, est le français.
    <br><br>
    6. Droit d'accès, de rectification et de suppression de vos données<br><br>
    En application de la loi informatique et libertés, les internautes disposent d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement.
    Le droit d'accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant, en écrivant à l'adresse électronique suivante. Dans ce cas, avant la mise en œuvre de ce droit, la Plateforme peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude.
    Le droit de rectification : si les données à caractère personnel détenues par la Plateforme sont inexactes, ils peuvent demander la mise à jour des informations.
    Le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.
    Ce droit peut être exercé par voie postale auprès de SAMOUILLET ARTHUR PIERRE-ADRIEN, 31 Rue de cugnaux, Bat B appt 46, 31300 TOULOUSE, France ou par voie électronique à l'adresse email suivante : contact@toulouse-peintre.com.
    Les informations personnelles collectées sont confidentielles et ne sont en aucun cas transmises à des tiers hormis pour l'éventuelle bonne exécution de la prestation commandée par l'internaute. En vertu de la loi n° 2000-719 du 1er août 2000, les coordonnées déclarées par l'acheteur pourront être communiquées sur réquisition des autorités judiciaires.
    <br><br>7. Collecte et protection des données<br><br>
    Vos données sont collectées par SAMOUILLET ARTHUR PIERRE-ADRIEN.
    Une donnée à caractère personnel désigne toute information concernant une personne physique identifiée ou identifiable (personne concernée); est réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par référence à un nom, un numéro d'identification ou à un ou plusieurs éléments spécifiques, propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.
    Les informations personnelles pouvant être recueillies sur le site sont principalement utilisées par l'éditeur pour la gestion des relations avec vous.
    <br>A. Les données personnelles collectées dans les formulaires de contact sont les suivantes :<br>
    Nom et prénom<br>
    Adresse mail<br>
    Numéro de téléphone<br>
    Afin de traiter votre demande, SAMOUILLET ARTHUR PIERRE-ADRIEN devra effectuer un traitement des données personnelles vous concernant. Les données sont conservées pendant deux (2) ans à compter de notre dernier contact et sont destinées exclusivement à SAMOUILLET ARTHUR PIERRE-ADRIEN, elles ne seront pas transmises à des tiers.
    <br>B. Les données personnelles collectées dans les formulaires d'inscription aux newsletters sont les suivantes :
    <br>Adresse mail<br>
    Vous aurez le choix d'accepter ou non de recevoir : – Des newsletters contenant les dernières actualités de la société SAMOUILLET ARTHUR PIERRE-ADRIEN ; – Des publicités adressées par des partenaires commerciaux.
    En renseignant votre email, vous affirmez avoir pris connaissance de nos mentions légales. Votre email sera conservé tant que vous ne nous ferez pas la demande de suppression de cette donnée.
    Vous pourrez vous désinscrire à tout moment à l'aide des liens de désinscription présents sur les communications ou en nous contactant : SAMOUILLET ARTHUR PIERRE-ADRIEN, 31 Rue de cugnaux, Bat B appt 46, 31300 TOULOUSE, France
    0677465472 - contact@toulouse-peintre.com
</div>
{% endblock %}
