{% extends 'base.html.twig' %}

{% block title %}Prestations | Artirenov24 - Artisan plâtrier peintre{% endblock %}

{% block body %}
    <header class="d-flex justify-content-center align-items-center header-all-chantier text-center">
        <div>
            <h1 class="my-auto">Nos prestations</h1>
        </div>
    </header>

    <section class="section-presentation-our-prestation mt-10 m-auto">
        <div class="block-container-lg m-auto">
            <h2 class="text-center">Les prestations d'Artirenov24 à Périgueux</h2>
            <h3 class="text-center text-yellow">Découvrez les compétences de votre expert en peinture à Périgueux</h3>
            <p class="text-center mb-5">Vous souhaitez</p>

            <div class="two-block-wish d-flex justify-content-around w-50 m-auto">
                <div class="first-block-wish">
                    <ul>
                        <li>Aménager votre intérieur ?</li>
                        <li>Peindre votre maison, appartement ?</li>
                        <li>Rafraîchir vos murs extérieurs ?</li>
                    </ul>
                </div>
                <div class="second-block-wish">
                    <ul>
                        <li>Changer la décoration de votre intérieur ?</li>
                        <li>Ajouter une touche de créativité à votre salon ?</li>
                        <li>Personnaliser les chambres de vos enfants ?</li>
                    </ul>
                </div>
            </div>

            <div class="mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <a href="">

                            <img src="{{ asset("assets/img/icon-peinture.png") }}" class="d-block m-auto" alt="" width="150">
                            <p class="text-center">Peinture intérieure / extérieur</p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="">

                            <img src="{{ asset("assets/img/icon-sol.png") }}" class="d-block m-auto" alt="" width="150">
                            <p class="text-center">Revêtement de sol</p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="">

                            <img src="{{ asset("assets/img/icon-toile.png") }}" class="d-block m-auto" alt="" width="150">
                            <p class="text-center">Ravalement de façade</p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="">

                            <img src="{{ asset("assets/img/icon-papier.png") }}" class="d-block m-auto" alt="" width="150">
                            <p class="text-center">Papier peint</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-exemple-services mt-5">
        <div class="row">
            <div class="col-md-4 m-auto block-item-service">
                <div class="header-papier m-auto"></div>
                <h4 class="text-decoration-underline text-center">Revêtement muraux</h4>
                <ul class="">
                    <li class="">Papier peint</li>
                    <li>Toile de verre</li>
                    <li>Structure à peindre</li>
                </ul>
            </div>
            <div class="col-md-4 m-auto block-item-service">
                <div class="header-sol m-auto"></div>
                <h4 class="text-decoration-underline text-center">Sol</h4>
                <ul class="">
                    <li>Pose des sols plastiques (dale, lame, rouleau) / parquets flottants</li>
                    <li>Pose des moquettes</li>
                    <li>Vitrification des parquets</li>
                </ul>
            </div>
            <div class="col-md-4 m-auto block-item-service">
                <div class="header-peinture m-auto"></div>
                <h4 class="text-decoration-underline text-center">Peinture</h4>
                <ul class="">
                    <li>Peinture inérieure / extérieure</li>
                    <li>Ravalement de façade</li>
                    <li>Boiserie et mur laqué</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section-last-text-prestation block-container-lg mt-5">
        <p>De la salle de bains à la cuisine en passant par les chambres, votre <strong>peintre près de Périgueux</strong> est capable d'imaginer l'ambiance
            décorative dont vous rêvez, tout en respectant les délais impartis et votre budget.
            <br><br>
            Pour toutes demandes d’informations supplémentaires ou de devis gratuit, n’hésitez pas à remplir le <a
                    href="{{ path('contact') }}"><strong class="text-decoration-underline">formulaire de contact</strong></a> ou à
            appeler au <a href="tel:+33681666733"><strong class="text-decoration-underline">06 81 66 67 33</strong></a>.
        </p>
    </section>

    <section class="section-fifth-chantier">
        <div class="row p-5">
            {% for chantier in chantiers|slice(0, 4) %}
                <div class="col-md-3">
                    <a href="{{ path('show_chantier', {id: chantier.id}) }}" class="">

                    <div class="d-flex">
                        <div style="
                            background-image: url('/uploads/{{ chantier.beforeIllustration }}');
                            background-position: center;
                            background-size: cover;
                            height:200px;
                            width: 100%">
                        </div>
                        <div style="
                            background-image: url('/uploads/{{ chantier.mainIllustration }}');
                            background-position: center;
                            background-size: cover;
                            height:200px;
                            width: 100%">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between bg-y">
                        <p class="my-auto text-white p-2">Avant</p>
                        <p class="my-auto text-white p-2">Après</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-contact-prestation" href="{{ path('contact') }}">CONTACTEZ-NOUS</a>
        </div>

    </section>

{% endblock %}

