{% extends 'base.html.twig' %}

{% block title %}Contact | Artirenov24 - Artisan plâtrier peintre{% endblock %}

{% block body %}
    <div class="header-contact d-flex justify-content-center align-items-center text-center">
        <div>
            <h1 class="title-contact">Contact</h1>
            <h2 class="second-title-contact">Demandez votre devis pour vos travaux</h2>
        </div>
    </div>
    <div class="block-form-contact m-0 p-5">
        <h2 class="text-center">Demander un devis</h2>
        <div class="block-container-lg">
            <div class="w-50 m-auto">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-5">VOUS</p>
                        <hr>
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.firstName) }}
                            </div>
                        </div>
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.phone) }}
                            </div>
                        </div>
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-5">VOTRE LOGEMENT</p>
                        <hr>
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.locality) }}
                            </div>
                        </div>
                        <p class="mt-5">VOTRE PROJET</p>
                        <hr>
                        {#                <div class="col-md-12 m-0 p-0">#}
                        {#                    <div class="m-2">#}
                        {#                        {{ form_widget(form.services1) }}#}
                        {#                        {{ form_label(form.services1) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services2) }}#}
                        {#                        {{ form_label(form.services2) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services3) }}#}
                        {#                        {{ form_label(form.services3) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services4) }}#}
                        {#                        {{ form_label(form.services4) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services5) }}#}
                        {#                        {{ form_label(form.services5) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services6) }}#}
                        {#                        {{ form_label(form.services6) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services7) }}#}
                        {#                        {{ form_label(form.services7) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services8) }}#}
                        {#                        {{ form_label(form.services8) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services9) }}#}
                        {#                        {{ form_label(form.services9) }}#}
                        {#                        <br></br>#}
                        {#                        {{ form_widget(form.services10) }}#}
                        {#                        {{ form_label(form.services10) }}#}
                        {#                    </div>#}
                        {#                </div>#}
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.area) }}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-5">VOTRE DEMANDE</p>
                        <hr>
                        <div class="col-md-12 m-0 p-0">
                            <div class="mb-2">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                        <div class="col-md-12 m-0 p-0">
                            <button class="btn btn-yellow" type="submit">Envoyer</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-5">ENVOYEZ-NOUS DES PHOTOS DE VOTRE LOGEMENT</p>
                        <hr>
                        <div class="col-md-12">
                            {{ form_row(form.photo1) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.photo2) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.photo3) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

    <hr>

    <div class="block-form-contact-us block-container-lg">
        <div class="w-50 m-auto">
            <h2 class="text-center">Nous contacter</h2>
            <div class="row">
                <div class="col-md-6 m-0 p- text-center">
                    <p class="fs-24 text-yellow">Téléphone</p>
                    <p>06 48 95 62 45</p>
                </div>
                <div class="col-md-6 m-0 p-0 text-center">
                    <p class="fs-24 text-yellow">Horaires</p>
                    <p>Lundi - Vendredi : 9h à 18h</p>
                </div>
            </div>
        </div>
    </div>

    <div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
