<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.11/dist/summernote-bs4.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <link
                rel="stylesheet"
                href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
{#        {% include ('components/navbar.html.twig') %}#}
{#        <div class="block-container-lg">#}
{#            <nav class="navbar navbar-expand-lg navbar-light">#}
{#                <div class="container-fluid">#}
{#                    <a class="navbar-brand" href="{{ path('home') }}"><img class="img-logo" src="{{ asset('/assets/img/vector_logo.png') }}" alt=""></a>#}
{#                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                        <span class="navbar-toggler-icon"></span>#}
{#                    </button>#}
{#                    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                            <li class="nav-item p-4">#}
{#                                <a class="d-block item-nav" href="{{ path('home') }}">Accueil</a>#}
{#                            </li>#}
{#                            <li class="nav-item p-4">#}
{#                                <a class="d-block item-nav" href="{{ path('prestations') }}">Prestations</a>#}
{#                            </li>#}
{#                            <li class="nav-item p-4">#}
{#                                <a class="d-block item-nav" href="{{ path('all_chantier') }}">Nos chantiers</a>#}
{#                            </li>#}
{#                            <li class="nav-item p-4">#}
{#                                <a class="d-block item-nav last-item" href="{{ path('contact') }}">Contact</a>#}
{#                            </li>#}
{#                            <li class="nav-item p-4 btn-device-mobile">#}
{#                                <a href="{{ path('contact') }}" class="d-block item-nav last-item btn-go-to-device text-white">Demander un devis</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <div class="d-flex">#}
{#                            <a href="{{ path('contact') }}" class=" item-nav last-item btn-go-to-device text-white btn-device-desktop">Demander un devis</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </nav>#}
{#        </div>#}

        {% block body %}{% endblock %}
        {% include ('components/footer.html.twig') %}





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <!-- include summernote css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.summernote').summernote({
                    height: 300,   //set editable area's height

                });

            });

        </script>
    </body>
</html>
