<footer class="mt-10 p-5">
{#    <img class="d-block m-auto" src="{{ asset("assets/img/logo_vector_artirenov24_white.png") }}" alt="" width="300">#}
    <div class="d-flex justify-content-center">
        {% include "svg/line-down-white.html.twig" %}
    </div>
    <div class="block-container-lg m-auto p-5">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="{{ asset("assets/img/logo_vector_artirenov24_white.png") }}" alt="" width="200">
            </div>
            <div class="col-md-3">
                <p class="my-auto">21 Rte de Malayolle <br> 24750 Trélissac</p>
                <a class="text-white" href="tel:+0681666733">06 81 66 67 33</a>
            </div>
            <div class="col-md-3">
                <a class="d-block text-decoration-underline text-white" href="{{ path('contact') }}">Contact</a>
                <a class="d-block text-decoration-underline text-white" href="{{ path('admin') }}">admin</a>
            </div>
            <div class="col-md-3">
                <img class="my-auto" src="{{ asset("assets/img/cma.png") }}" alt="" width="100">
            </div>
        </div>
    </div>

</footer>
<div class="bg-y">
    <div class="block-container-lg d-flex justify-content-between">
        <a class="d-block my-auto text-white" href="{{ path("app_legal_mention") }}">Mentions légales</a>
        <p class="my-auto text-white">© 2J Crea 2022</p>
    </div>
</div>
