{#<nav class="nav-bar">#}
{#    <div class="first-part-navbar block-container-lg d-flex justify-content-between">#}
{#        <a class="" href="{{ path('home') }}"><img src="{{ asset('/assets/img/vector_logo.png') }}" alt="" width="200"></a>#}
{#        <p class="my-auto"><a class="tel-nbr" href="fax:+33681666733">06 81 66 67 33</a> • Lundi au Vendredi : 9h à 18h</p>#}

{#        <a href="{{ path('contact') }}" class=" my-auto btn-go-to-device text-white">Demander un devis</a>#}
{#    </div>#}
{#    <div class="second-part-navbar">#}
{#        <div class="block-container-lg d-flex justify-content-around">#}
{#            <a class="d-block item-nav" href="{{ path('home') }}">Accueil</a>#}
{#            <a class="d-block item-nav" href="{{ path('prestations') }}">Prestations</a>#}
{#            <a class="d-block item-nav" href="{{ path('all_chantier') }}">Nos chantiers</a>#}
{#            <a class="d-block item-nav last-item" href="{{ path('contact') }}">Contact</a>#}
{#        </div>#}
{#        <div class="bg-light">#}
{#            <div class=" d-flex justify-content-between submenu block-container-lg">#}
{#                <strong>Travaux de rénovations</strong>#}
{#                <p><a class="tel-nbr" href="fax:+33681666733">06 81 66 67 33</a> • Lundi au Vendredi : 9h à 18h</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{#<div class="block-container-lg">#}

{#    <nav class="navbar navbar-expand-lg bg-white">#}
{#        <div class="container-fluid">#}
{#            <a class="" href="{{ path('home') }}"><img src="{{ asset('/assets/img/vector_logo.png') }}" alt="" width="200"></a>#}
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                    <li class="nav-item p-4">#}
{#                        <a class="d-block item-nav" href="{{ path('home') }}">Accueil</a>#}
{#                    </li>#}
{#                    <li class="nav-item p-4">#}
{#                        <a class="d-block item-nav" href="{{ path('prestations') }}">Prestations</a>#}
{#                    </li>#}
{#                    <li class="nav-item p-4">#}
{#                        <a class="d-block item-nav" href="{{ path('all_chantier') }}">Nos chantiers</a>#}
{#                    </li>#}
{#                    <li class="nav-item p-4">#}
{#                        <a class="d-block item-nav last-item" href="{{ path('contact') }}">Contact</a>#}
{#                    </li>#}
{#                    <li class="nav-item p-4 btn-device-mobile">#}
{#                        <a href="{{ path('contact') }}" class="d-block item-nav last-item btn-go-to-device text-white">Demander un devis</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <a href="{{ path('contact') }}" class=" item-nav last-item btn-go-to-device text-white btn-device-desktop">Demander un devis</a>#}

{#        </div>#}
{#    </nav>#}
{#</div>#}

<div class="block-container-lg">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}"><img class="img-logo" src="{{ asset('/assets/img/vector_logo.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-4">
                        <a class="d-block item-nav" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item p-4">
                        <a class="d-block item-nav" href="{{ path('prestations') }}">Prestations</a>
                    </li>
                    <li class="nav-item p-4">
                        <a class="d-block item-nav" href="{{ path('all_chantier') }}">Nos chantiers</a>
                    </li>
                    <li class="nav-item p-4">
                        <a class="d-block item-nav last-item" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item p-4 btn-device-mobile">
                        <a href="{{ path('contact') }}" class="d-block item-nav last-item btn-go-to-device text-white">Demander un devis</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="{{ path('contact') }}" class=" item-nav last-item btn-go-to-device text-white btn-device-desktop">Demander un devis</a>
                </div>
            </div>
        </div>
    </nav>
</div>
