{% extends 'base.html.twig' %}

{% block title %}Nos chantiers | Artirenov24 - Artisan plâtrier peintre{% endblock %}

{% block body %}
    <header class="d-flex justify-content-center align-items-center header-all-chantier text-center">
        <div>
            <h1 class="my-auto">Nos chantiers</h1>
            <h2 class="my-auto">Chantiers réalisés par notre entreprise</h2>
        </div>
    </header>
    
    <div class="block-container-lg">
        <div class="row mt-5 m-auto">
            {% for  chantier in chantiers %}
                <div class="col-md-4">
                    <a href="{{ path('show_chantier', {id: chantier.id}) }}" class="">
                        <div class="header-card-chantier d-flex align-items-center justify-content-center"
                        style="background-image: linear-gradient(to right, rgba(0,0,0,0.28), rgba(0,0,0,0.3)),url('/uploads/{{ chantier.mainIllustration }}');"
                        >
                            <p class="text-center">{{ chantier.type }} - {{ chantier.surface }} m² <br> <span>{{ chantier.localisation }}</span></p>
                        </div>
                        <h3>{{ chantier.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
