{% extends 'base.html.twig' %}

{% block title %}Chantier : {{ chantier.name}} | Artirenov24 - Artisan plâtrier peintre{% endblock %}

{% block body %}
    <header class="d-flex justify-content-center align-items-center header-all-chantier text-center">
        <div>
            <h1 class="my-auto">{{ chantier.type }} - {{ chantier.surface }} m²</h1>
            <h2>{{ chantier.localisation }}</h2>
        </div>
    </header>
    <div class="navigate-chantier bg-y">
        <div class="block-container-lg p-2">
            <h3 class="p-0 m-0 text-white text-center">{{ chantier.name }}</h3>
            <div class="d-flex justify-content-between">
                <a class="text-white p-2 my-auto" href="{{ path('all_chantier') }}">< Voir tous les chantiers</a>
                <div class="d-flex">
                    {% if previous != null %}<a class="text-white d-block p-2 my-auto" href="{{ path('show_chantier', {id: previous.id}) }}">< Précédent</a>{% endif %}
                    <p class="text-white p-2 my-auto">|</p>
                    {% if next != null %}<a class="text-white d-block p-2 my-auto" href="{{ path('show_chantier', {id: next.id}) }}">Suivant ></a>{% endif %}
                </div>
            </div>
        </div>
    </div>

    <section class="mt-10 block-container-lg">
        <div class="row mt-10 m-auto">
            <div class="col-md-6 p-0 m-auto">
                <h3 class="m-auto">Avant</h3>
                <img class="d-block flex-fill" src="/uploads/{{ chantier.beforeIllustration }}" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="m-auto">Après</h3>
                <img class="d-block flex-fill" src="/uploads/{{ chantier.mainIllustration }}" alt="">
            </div>
        </div>
        <p class="mt-10">{{ chantier.description }}</p>
    </section>

{% endblock %}
